In [1]:
library(dplyr)
library(epitools)
file_path <- "numeric_cases_21.csv"
cases21 <- read.csv(file_path)
adults <- cases21[!cases21$age_group == "0 - 17 years", ]
df <- adults[!adults$age_group == " ", ]
df_complete <- df[!df$symp == "", ]
dataframe = table(df_complete$age_group, df_complete$symp)[-1:-2,]
dataframe

Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

                    0    1
  18 to 49 years 3142  862
  50 to 64 years 1536  394
  65+ years       816  395

In [2]:
library(epitools)
oddsratio(dataframe, correction = TRUE)

$data

                    0    1 Total
  18 to 49 years 3142  862  4004
  50 to 64 years 1536  394  1930
  65+ years       816  395  1211
  Total          5494 1651  7145

$measure
                odds ratio with 95% C.I.
                  estimate     lower    upper
  18 to 49 years 1.0000000        NA       NA
  50 to 64 years 0.9351538 0.8173487 1.068505
  65+ years      1.7644516 1.5303535 2.032507

$p.value
                two-sided
                   midp.exact fisher.exact   chi.square
  18 to 49 years           NA           NA           NA
  50 to 64 years 3.253716e-01 3.422493e-01 3.420129e-01
  65+ years      1.154632e-14 1.357207e-14 3.621648e-15

$correction
[1] TRUE

attr(,"method")
[1] "median-unbiased estimate & mid-p exact CI"

In [3]:
riskratio.wald(dataframe, rev=c("rows"))

$data

                    0    1 Total
  65+ years       816  395  1211
  50 to 64 years 1536  394  1930
  18 to 49 years 3142  862  4004
  Total          5494 1651  7145

$measure
                risk ratio with 95% C.I.
                  estimate     lower     upper
  65+ years      1.0000000        NA        NA
  50 to 64 years 0.6258726 0.5553018 0.7054120
  18 to 49 years 0.6600248 0.5970657 0.7296228

$p.value
                two-sided
                   midp.exact fisher.exact   chi.square
  65+ years                NA           NA           NA
  50 to 64 years 2.831069e-14 3.117721e-14 1.649272e-14
  18 to 49 years 1.143530e-14 1.357207e-14 2.664085e-15

$correction
[1] FALSE

attr(,"method")
[1] "Unconditional MLE & normal approximation (Wald) CI"

In [4]:
data <- df[!df$hosp == "", ]
agehosp = table(data$age_group, data$hosp)[-1:-2,]
agehosp

                   0   1
  18 to 49 years 785  18
  50 to 64 years 350  33
  65+ years      309 100

In [5]:
oddsratio.wald(agehosp)

$data

                    0   1 Total
  18 to 49 years  785  18   803
  50 to 64 years  350  33   383
  65+ years       309 100   409
  Total          1444 151  1595

$measure
                odds ratio with 95% C.I.
                  estimate    lower     upper
  18 to 49 years  1.000000       NA        NA
  50 to 64 years  4.111905 2.284006  7.402677
  65+ years      14.113628 8.400909 23.711066

$p.value
                two-sided
                   midp.exact fisher.exact   chi.square
  18 to 49 years           NA           NA           NA
  50 to 64 years 1.496205e-06 1.697507e-06 4.187829e-07
  65+ years      0.000000e+00 1.822115e-33 6.086095e-35

$correction
[1] FALSE

attr(,"method")
[1] "Unconditional MLE & normal approximation (Wald) CI"

In [6]:
riskratio.wald(agehosp)

$data

                    0   1 Total
  18 to 49 years  785  18   803
  50 to 64 years  350  33   383
  65+ years       309 100   409
  Total          1444 151  1595

$measure
                risk ratio with 95% C.I.
                  estimate    lower     upper
  18 to 49 years  1.000000       NA        NA
  50 to 64 years  3.843777 2.192844  6.737653
  65+ years      10.907362 6.698888 17.759746

$p.value
                two-sided
                   midp.exact fisher.exact   chi.square
  18 to 49 years           NA           NA           NA
  50 to 64 years 1.496205e-06 1.697507e-06 4.187829e-07
  65+ years      0.000000e+00 1.822115e-33 6.086095e-35

$correction
[1] FALSE

attr(,"method")
[1] "Unconditional MLE & normal approximation (Wald) CI"

In [7]:
icu <- df[!df$icu == "", ]
ageicu = table(data$age_group, data$icu)[-1:-2,]

In [8]:
oddsratio.wald(ageicu)

Warning message in chisq.test(xx, correct = correction):
"Chi-squared approximation may be incorrect"Warning message in chisq.test(xx, correct = correction):
"Chi-squared approximation may be incorrect"

$data

                   0  1 Total
  18 to 49 years  75  3    78
  50 to 64 years  77  5    82
  65+ years      273 12   285
  Total          425 20   445

$measure
                odds ratio with 95% C.I.
                 estimate     lower    upper
  18 to 49 years 1.000000        NA       NA
  50 to 64 years 1.623377 0.3746583 7.034014
  65+ years      1.098901 0.3022846 3.994856

$p.value
                two-sided
                 midp.exact fisher.exact chi.square
  18 to 49 years         NA           NA         NA
  50 to 64 years  0.5431372    0.7202102  0.5136707
  65+ years       0.9314351    1.0000000  0.8860827

$correction
[1] FALSE

attr(,"method")
[1] "Unconditional MLE & normal approximation (Wald) CI"

In [14]:
rrageicu = riskratio.small(ageicu, correction = TRUE)
rrageicu

Warning message in chisq.test(xx, correct = correction):
"Chi-squared approximation may be incorrect"Warning message in chisq.test(xx, correct = correction):
"Chi-squared approximation may be incorrect"

$data

                   0  1 Total
  18 to 49 years  75  3    78
  50 to 64 years  77  5    82
  65+ years      273 12   285
  Total          425 20   445

$measure
                risk ratio with 95% C.I.
                  estimate     lower    upper
  18 to 49 years 1.0000000        NA       NA
  50 to 64 years 1.2042683 0.2977468 4.870789
  65+ years      0.8315789 0.2406187 2.873939

$p.value
                two-sided
                 midp.exact fisher.exact chi.square
  18 to 49 years         NA           NA         NA
  50 to 64 years  0.5431372    0.7202102  0.7716011
  65+ years       0.9314351    1.0000000  1.0000000

$correction
[1] TRUE

attr(,"method")
[1] "small sample-adjusted UMLE & normal approx (Wald) CI"